
<br/>

<div class = "wideRow">
<input type="file" name="file"/>
</div>

<br/>


<div class = "wideRow">
<label for = "codigo" class="itemNarrow">Código</label>
<input type="text" id="codigo" name="codigo" value=""/>
</div>

<br/>

<div class = "wideRow">
<label for = "descripcion" class="itemNarrow">Descripción</label>
<input type="text" id="descripcion" name="descripcion" value=""/>
</div>
<br/>

<input class= "button" type="submit" value="Subir">


