 
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css'/>


</head>
<body>
 <div id="page">
      
      <header class="main" id="mainHeader">
 
         <div class="right">

          <% if (!session.user) { %>   
                 
                 <a href="/session">Login</a>
                 <a href="/users/new">Registrarse</a>
            
          <% } else { %>
                <a href="/users">Usuarios</a>
                <a href="/users/<%= session.user.id %>/contracts">Mis contratos</a>
                <a href="/session?_method=DELETE">Logout</a>
            <% } %>      
         </div>

          <section class="main" id="mainSection">
            <%- body %>
          </section>
 
      </header>
</body>
</html>

